.edit-delete-button:hover{
    cursor: pointer;
}

.container-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.new-user-container{
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    font-family: Montserrat;
    width: 25%;
}

.edit-user-title{
    font-size: x-large;
    font-weight: bold;
}

.user-table{
    width: 100%;
    margin-top: 20px;
}

th{
    width: 20%;
    text-align: left;
    border-bottom: 2px solid black;
}

.user-list-container{
    padding: 20px;
    font-family: Montserrat;
    width: 40%;
}

.user-form-container{
    display: flex;
    flex-direction: column;
}

form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 15px;
}

select{
    margin-bottom: 15px;
}

.update-buttons{
    display: flex;
    justify-content: space-evenly;
}